.body{
    box-sizing: border-box;
    margin: 0px;
}
.header{
    background-color:ghostwhite;
    text-align: center;
    outline: none;
    padding: 6.8rem 2rem;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    font-family: cursive;
    border-radius: 1.4rem;
    border: 1px solid #000000;
  }
  
.header label {
    color:indianred;
    padding: 6px;
    align-items: flex-end;
}


.header select{
    color: indianred;
    cursor: pointer;
    font-size:13px;
    font-family: cursive;
    border-radius: 3px 3px 5px;
    
}
.header button{
    background-color: navajowhite;
    text-decoration: none;
    color: indianred;
    font-size: 17px;
    font-family: cursive;
    font-weight: bold;
    border-radius: 5px 8px 5px;
    margin-left: 10px;
   position: relative;
}
.header button:hover{
    background-color:indianred;
    color: black;
    transition: all white;
    transition-duration: 0.9s ;
    
}